proyectoMaravillasPeru/Connected Services/MaravillasSOAPWS/MaravillasSOAPService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/maravillasSOAPWS.Dominio" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/maravillasSOAPWS.Dominio" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReservaHotel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidadpersonas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Codigoreservahotel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Fechaingreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Montototal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nombrehotel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numerodias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numerohabitaciones" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReservaHotel" nillable="true" type="tns:ReservaHotel" />
  <xs:complexType name="ArrayOfReservaHotel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReservaHotel" nillable="true" type="tns:ReservaHotel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservaHotel" nillable="true" type="tns:ArrayOfReservaHotel" />
</xs:schema>