proyectoMaravillasPeru/Connected Services/MaravillasSOAPWS/MaravillasSOAPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MaravillasSOAPService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50954/MaravillasSOAPService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50954/MaravillasSOAPService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50954/MaravillasSOAPService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/maravillasSOAPWS.Dominio" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMaravillasSOAPService_CrearReservaHotel_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearReservaHotel" />
  </wsdl:message>
  <wsdl:message name="IMaravillasSOAPService_CrearReservaHotel_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearReservaHotelResponse" />
  </wsdl:message>
  <wsdl:message name="IMaravillasSOAPService_ObtenerReservaHotel_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerReservaHotel" />
  </wsdl:message>
  <wsdl:message name="IMaravillasSOAPService_ObtenerReservaHotel_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerReservaHotelResponse" />
  </wsdl:message>
  <wsdl:message name="IMaravillasSOAPService_ModificarReservaHotel_InputMessage">
    <wsdl:part name="parameters" element="tns:ModificarReservaHotel" />
  </wsdl:message>
  <wsdl:message name="IMaravillasSOAPService_ModificarReservaHotel_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarReservaHotelResponse" />
  </wsdl:message>
  <wsdl:message name="IMaravillasSOAPService_EliminarReservaHotel_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarReservaHotel" />
  </wsdl:message>
  <wsdl:message name="IMaravillasSOAPService_EliminarReservaHotel_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarReservaHotelResponse" />
  </wsdl:message>
  <wsdl:message name="IMaravillasSOAPService_ListarReservaHotel_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarReservaHotel" />
  </wsdl:message>
  <wsdl:message name="IMaravillasSOAPService_ListarReservaHotel_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarReservaHotelResponse" />
  </wsdl:message>
  <wsdl:portType name="IMaravillasSOAPService">
    <wsdl:operation name="CrearReservaHotel">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaravillasSOAPService/CrearReservaHotel" message="tns:IMaravillasSOAPService_CrearReservaHotel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaravillasSOAPService/CrearReservaHotelResponse" message="tns:IMaravillasSOAPService_CrearReservaHotel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerReservaHotel">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaravillasSOAPService/ObtenerReservaHotel" message="tns:IMaravillasSOAPService_ObtenerReservaHotel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaravillasSOAPService/ObtenerReservaHotelResponse" message="tns:IMaravillasSOAPService_ObtenerReservaHotel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ModificarReservaHotel">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaravillasSOAPService/ModificarReservaHotel" message="tns:IMaravillasSOAPService_ModificarReservaHotel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaravillasSOAPService/ModificarReservaHotelResponse" message="tns:IMaravillasSOAPService_ModificarReservaHotel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarReservaHotel">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaravillasSOAPService/EliminarReservaHotel" message="tns:IMaravillasSOAPService_EliminarReservaHotel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaravillasSOAPService/EliminarReservaHotelResponse" message="tns:IMaravillasSOAPService_EliminarReservaHotel_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarReservaHotel">
      <wsdl:input wsaw:Action="http://tempuri.org/IMaravillasSOAPService/ListarReservaHotel" message="tns:IMaravillasSOAPService_ListarReservaHotel_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMaravillasSOAPService/ListarReservaHotelResponse" message="tns:IMaravillasSOAPService_ListarReservaHotel_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMaravillasSOAPService" type="tns:IMaravillasSOAPService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearReservaHotel">
      <soap:operation soapAction="http://tempuri.org/IMaravillasSOAPService/CrearReservaHotel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerReservaHotel">
      <soap:operation soapAction="http://tempuri.org/IMaravillasSOAPService/ObtenerReservaHotel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModificarReservaHotel">
      <soap:operation soapAction="http://tempuri.org/IMaravillasSOAPService/ModificarReservaHotel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarReservaHotel">
      <soap:operation soapAction="http://tempuri.org/IMaravillasSOAPService/EliminarReservaHotel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarReservaHotel">
      <soap:operation soapAction="http://tempuri.org/IMaravillasSOAPService/ListarReservaHotel" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MaravillasSOAPService">
    <wsdl:port name="BasicHttpBinding_IMaravillasSOAPService" binding="tns:BasicHttpBinding_IMaravillasSOAPService">
      <soap:address location="http://localhost:50954/MaravillasSOAPService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>